
spring:
  kafka:
    bootstrap-servers: localhost:9092
    group-id: group1
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.ByteArrayDeserializer
    producer:
      bootstrap-servers: localhost:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.ByteArraySerializer
  profiles.default: dev

management.endpoints.web.exposure.include: '*'

springdoc.swagger-ui.tagsSorter: alpha

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  level:
    org.apache.kafka.clients.consumer.internals: warn
    kafka.coordinator.group: warn
    org.apache.kafka: warn
    org.apache.kafka.common.utils: warn
    org.apache.kafka.clients.consumer: warn
    org.apache.kafka.common.metrics: warn
    org.springframework.kafka.listener: warn
    org.springframework.kafka.core: warn
    kafka.controller: warn